/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400


- Line heights
Default: 1


--- 02 COLORS

- Primary: #e67e22
- Tints:
#fdf2e9
#fae5d3
#eb984e

- Shades: 
#cf711f
#45260a

- Accents:
- Greys

#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}

html {
  /* font-size: 10px; */

  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  background-color: #fff9e8;
}

/**************************/
/* GRID AND CONTAINERS */
/**************************/

.container {
  max-width: 335rem;
  /* min-width: 210rem; */
  /* padding: 2.4rem; */
  margin: 0 auto;
}

.sea-container {
  position: relative;
  /* margin-left: 1.5rem; */
}

.sea {
  border-right: 7px solid #087f5b;
  border-bottom: 7px solid #087f5b;
  border-left: 3.6rem solid #087f5b;
  /* border-bottom: none;
  border-right: none; */
}

.grid {
  display: grid;
  column-gap: 2rem;
  row-gap: 4.8rem;
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
  align-self: center;
  justify-self: center;
  margin-top: 8rem;
}

.grid--3-cols {
  grid-template-columns: 49.9fr 0.2fr 49.9fr;
}

.grid-helper {
  display: grid;
  /* column-gap: 0.2rem; */
  background-color: #fcc419;
}

/**************************/
/* TABLE ELEMENTS */
/**************************/

table {
  margin: 0 auto;
  border-collapse: collapse;
  display: block;
  transition: all 0.3s ease-in;
  background-color: #c5f6fa;
  position: relative;
  box-sizing: border-box;
}

th,
thead tr {
  background-color: #087f5b;
  color: #fff;
  cursor: auto;
}

th {
  cursor: auto;
  user-select: none;
  overflow: hidden;
}

.row-number {
  position: absolute;
  left: -26;
  color: #fff;
  user-select: none;
  font-weight: 500;
}

.row-number-1 {
  top: 50;
}
.row-number-2 {
  top: 90;
}
.row-number-3 {
  top: 133;
}
.row-number-4 {
  top: 173;
}
.row-number-5 {
  top: 213;
}
.row-number-6 {
  top: 253;
}
.row-number-7 {
  top: 294;
}
.row-number-8 {
  top: 334;
}
.row-number-9 {
  top: 374;
}
.row-number-10 {
  left: -30;
  top: 414;
}

/* .column-letter {
  top: -25;
  position: absolute;
  user-select: none;
  transform: translate(0, -150%);
}

.column-letter-1 {
  left: 23;
}
.column-letter-2 {
  left: 64;
}
.column-letter-3 {
  left: 104;
}
.column-letter-4 {
  left: 145;
}
.column-letter-5 {
  left: 186;
}
.column-letter-6 {
  left: 226;
}
.column-letter-7 {
  left: 266;
}
.column-letter-8 {
  left: 306;
}
.column-letter-9 {
  left: 350;
}
.column-letter-10 {
  left: 388;
} */

td,
th {
  height: 3.6rem;
  width: 3.6rem;
  font-size: 1.6rem;
  text-align: center;
  user-select: none;
}

td {
  font-size: 2.4rem;
  background-color: #e6fcf5;
  border: 1px solid #fff;
  overflow: hidden;
}

td:hover {
  background-color: #c3fae8;
}

/* Class of td */
.dropzone {
  border: 1px solid #fff;

  /* border-color: rgba(255, 255, 255, 0.5); */
}

/**************************/
/* GENERAL */
/**************************/

h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

p {
  font-size: 1.8rem;
}

/**************************/
/* FLEET ENVIRONMENT */
/**************************/

.ship {
  width: 100%;
  height: 100%;
  user-select: none;
  color: #654e0a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ship-color {
  background-color: #fcc419;
}

.ship:hover {
  background-color: #ffd43b;
}

.my-side--enemy-fleet .ship.injure:hover,
.enemy-side--my-fleet .ship.injure:hover {
  background-color: #e6fcf5;
}

.my-side--enemy-fleet.binoculars .ship:hover,
.enemy-side--my-fleet.binoculars .ship:hover {
  background-color: #e6fcf5;
}

.my-side--enemy-fleet .ship:hover,
.enemy-side--my-fleet .ship:hover {
  background-color: #c3fae8;
}

.binoculars-reward-label,
.timer-label {
  position: absolute;
  left: 8%;

  transform: translate(0, 180%);
  transition: all 0.5s;
  opacity: 0;
}

.timer-label {
  opacity: 0;
  left: 14%;
  transform: translate(0, 40%);
}

.opponent-timer {
  left: 6%;
}

.injure {
  color: #ff6b6b;
}

.miss {
  color: #20c997;
  font-size: 3.2rem;
  background-color: #e6fcf5;
  height: 100%;
}

.cell-around {
  color: #96f2d7;
  background-color: #e6fcf5;
  height: 100%;
  display: flex;
  justify-content: center;

  align-items: center;
}

.ship.injure {
  opacity: 100%;
  display: flex;
  justify-content: center;

  align-items: center;

  /* box-shadow: inset 0 0 0 3px #66d9e8; */
}
.dropzone .ship.injure {
  font-size: 3.2rem !important;
  background-color: #e6fcf5;
}

.dragover {
  background-color: #c3fae8;
}

.my-side--enemy-fleet,
.enemy-side--my-fleet {
  cursor: url(../icons/gun-target.png), auto;
}

.my-side--my-fleet .ship,
.enemy-side--enemy-fleet .ship {
  cursor: grab;
}

.my-side--enemy-fleet .ship,
.enemy-side--my-fleet .ship {
  /* opacity: 0; */
  background-color: #e6fcf5;
}

/* .border-75 {
  border-color: rgba(255, 255, 255, 0.75);
} */

/**************************/
/* NOTIFICATION WINDOW */
/**************************/

.notification-window {
  position: absolute;
  top: 0;
  left: 0;

  transform: translate(-50%, 50%);
  width: 150%;
  height: 50%;
  background-color: #fff;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

/* .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
} */

.show-notification-window {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.75rem 3.5rem;
  margin: 5rem 2rem;
  border: none;
  background-color: #fff;
  color: #444;
  border-radius: 10rem;
  cursor: pointer;
}

.close-notification-window,
.close-notification-window-2 {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.hidden {
  display: none;
}

/**************************/
/* INPUT DATA, BUTTONS, LABELS */
/**************************/

.username-1,
.player-1--pronoun {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -150%);
}
.username-2,
.player-2--pronoun {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -150%);
}
